# Virtual environments
venv/
.venv/
env/

# Data files & vector matrices
*.npy
*.json
debug_report.txt
debug.py
eval_softmatch.py


# Python Bytecode & Cache Files
__pycache__/
*.py[cod]
*$py.class

# Local Vendor/Dependencies
.vendor/

# Operating System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment Variables / Keys
.env